#home-container {
    height: 100vh;
    width: 100%;
}

.nav-container{
    display: block;
    //position: relative;
    top: 5%;
    width: inherit;
}

.nav{
    background-color: whitesmoke;
}

.home-content-box{
    position: relative;
}
.nav-link:hover {
    background: linear-gradient(to right, grey, white);
    color: white;
  }

  .navlink.active {
    background: linear-gradient(to right, grey, grey);
    color: white;
  }

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
}



@media screen and (min-width: 768px) {
    .items {
        width: 30%;
        height: 40%;
        margin: 1%;
        border-radius: 5%;
    }

    .ad{
        height: 100%;
        width: 100%;
        //background-color: red;
    }

    .img-container{
        height: 70%;
        background-color: green;
        border-radius: 5%;
    }

    .nav-container{
        display: block;
    }

    .sm-nav-container{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .items {
        width: 60%;
        height: 30%;
        padding: 1%;
        background-color: grey;
        margin: 0%;
    }

    .ad{
        height: 100%;
        width: 100%;
        //background-color: red;
    }

    .nav-container{
        display: none;
    }

    .sm-nav-container{
        display: block;
    }

}