
<div class="header-container" style="text-align: center;">

    <span class="header-items header-logo">
        <!-- Logo -->
        <div>
            <!-- <img src="../../assets/img/logo/image.svg" alt="logo" > -->
        </div>
    </span>
    <span class="header-items header-title bungee-spice-regular">
        <a href="#" style="text-decoration: none;">
        <h2>
            Most Wanted Viral Products Just For You ...
        </h2>
    </a>
    </span>

    <span class="header-items header-search">
        <!-- <app-main-search style="display: inline-block;"></app-main-search> -->
    </span>
</div>
